* {
    font-family: "Calibri Light";
}

p{
    text-align: justify;
}
p.tengah {
    text-align: center;
}
h1,h2,h3 {
    text-decoration: underline;
    text-align: center;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url("../Media/Gambar/BG/BG2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

img.profile {
    border: 10px solid black;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    background-color: rgba(225,225,225,0.7);
    margin: 0 120px 0;
    padding: 0 0 5px;
}

h1{
    text-decoration: underline;
    font-size: 40px;
}

header {
    padding: 10px;
}

section{
    background-color: white;
    margin: 0px 25px;
    border-radius: 30px;
    padding: 5px 25px 25px 25px;
}
article{
    padding: 5px;
}

footer {
    padding: 25px;
}

.refresh {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-weight: bolder;
    font-size: 15px;
    background: #52ff51;
    transition: .3s ease;
    border-radius: 10px;
}
.refresh:hover {
    background: black;
    color: #FFFFFF;
}

input {
    text-align: center;
    border-radius: 25px;
    padding: 5px;
    font-size: 24px;
    background-color: antiquewhite;
}

select {
    font-size: 25px;
}

form {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 0 15px ;
}

p {
    text-align: center;
}

nav {
    margin: 0px;
    text-align: center;
    font-family: "Times New Roman";
}
nav ul {
    background: cadetblue;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    border: 5px solid black;
    border-radius: 25px;
}
nav ul li{
    float:left;
}
nav ul li :hover{
    background: khaki;
}
nav ul li:hover a{
    color: cadetblue;
}
nav ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

div .pilih {
    margin: 0px;
    text-align: center;
    font-family: "Times New Roman";
}
div .pilih nav ul {
    background: cadetblue;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    border: 5px solid black;
    border-radius: 25px;
}
div .pilih nav ul li{
    float:left;
}
div .pilih nav ul li :hover{
    background: khaki;
}
div .pilih nav ul li:hover a{
    color: cadetblue;
}
div .pilih nav ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}